$color-fondo: radial-gradient(circle, rgb(220, 73, 240) 0%, rgba(29,30,31,1) 100%);
$paginas-fondo:  rgb(241, 177, 246);
$tipos-colores: (
    tipo1: rgb(207, 56, 220),
    tipo2: rgb(233, 224, 224),
    tipo3: rgb(42, 59, 62),
    tipo4: rgb(255, 255, 255),
    tipo5: #000000,
    tipo6: rgb(177, 173, 173),
)